.container,
.formContainer {
  height: 100%;
}

.heading {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.loginContainer {
  width: 40rem;
  height: 25rem;
  background-color: #111920 !important;
}

.MuiInputBase-input {
  color: #f3ab4c !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid #f3ab4c !important;
}
