.container,
.formContainer {
  height: 100%;
}

.heading {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.loginContainer {
  width: 40rem;
  height: 25rem;
  background-color: var(--bgColor) !important;
  box-shadow: 0px 5px 5px -3px #91662d, 0px 0px 10px 1px #91662d,
    0px 3px 14px 2px #91662d !important;
}

.MuiInputBase-input {
  color: var(--primaryColor) !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--primaryColor) !important;
}
